*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 180px;
    height: 85px;
    background: url("../img/1.png") no-repeat center;
    background-size: contain;
    position: fixed;
    top:0;
    left: 40px;
    z-index: 999;
}
.btn{
    width: 50px;
    height: 50px;
    background: #89c92a;
    cursor: pointer;
    position: fixed;
    top:19px;
    right: 45px;
    z-index: 900;
}
.btn .box{
    width: 50px;
    height: 50px;
    position: relative;
}
.btn .box:before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
}
.btn .box:after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 28px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
}
/*<!--侧边导航栏开始-->*/
.aside{
    height: 996px;
    width: 0;
    background: #fff;
    position: fixed;
    top:0;
    right: 0;
    transition: all .2s linear;
}
.aside .left{
    width: 200px;
    height: 100%;
    background: #f7f7f7;
    float: left;
}
.aside .right{
    width: 250px;
    height: 100%;
    background: white;
    float: right;
    padding-top: 100px;
    box-sizing: border-box;
}

.btn1{
    width: 50px;
    height: 50px;
    background: #89c92a;
    cursor: pointer;
    position: fixed;
    top:19px;
    right: 45px;
    z-index: 999;
}
.btn1 .box1{
    width: 50px;
    height: 50px;
    position: relative;
}
.btn1 .box1:before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
}
.btn1 .box1:after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 28px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
}
.aside .left .imgbox{
    width: 90px;
    height: 90px;
    margin: 100px auto 27px;
    background: url("../img/erweima.jpg") no-repeat center;
    background-size: cover;
}
.aside .left .text{
    width: 126px;
    height: 16px;
    margin: 0 auto;
    font-size: 12px;
    color: black;
}

.aside .right li{
    width: 100%;
    height: 50px;
    background: white;
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 50px;
}
.aside .right li a{
    color: #999;
    width: 100%;
    height: 100%;
    display: block;
}
.aside .right li:hover a{
    color: #fff;
}
.aside .right li:hover{
    background: #89c92a;
}
.aside .right li:nth-child(5){
    background: #89c92a ;
}
.aside .right li:nth-child(5) a{
    color: #fff;
}
header{
    width:100%;
    height: 85px;
    background:white;
    border-top: 3px solid #89c92a;
}
.nav{
    height: 40px;
    width: 1813px;
    background: #89c92a;
    margin: 0 auto;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 40px;
}
.us_box{
    width: 397px;
    height: 78px;
    border: 1px solid #d8d8d8;
    margin: 82px auto 0;

}
.us{
    width: 334px;
    height: 58px;
    background: white;
    margin: -40px auto 0;
}
.us h2{
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: normal;
}
.us h3{
    font-size: 10px;
    color: #bababa;
    text-align: center;
    font-weight: normal;
    margin-top: 14px;
}
.main{
    width: 1023px;
    height: 1336px;
    margin: 34px 0 100px 430px;
    position: relative;
}
.main .left{
    width: 229px;
    height: 123px;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    float: left;
}
.main .left li{
    width: 100%;
    height: 33%;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height:41px;
    cursor: pointer;
}
/*.main .left li a{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: block;*/
/*}*/
.main .left li:nth-child(1){
    background: #89c92a;
    color: white;
}
.xxkBox{
    width: 784px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 241px;
    top: 0;
    z-index: 5;
}
.main .right{
    width: 784px;
    height: 100%;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    float: right;
    padding: 20px 44px 50px;
}
.main .right li{
    width: 100%;
    height: 157px;
    padding-top: 20px;
    border-bottom: 1px dashed #c6c6c6;
    box-sizing: border-box;
}
.main .right li .img{
    width: 150px;
    height: 92px;
    display: block;
    float: left;
}
.main .right li .imgbox{
    width: 150px;
    height: 92px;

    background: url("../img/n1.jpg") no-repeat center;
    background-size:cover;
}
.main .right li:nth-child(3) .imgbox{
    background-image: url("../img/n3.jpg");
}
.main .right li:nth-child(4) .imgbox{
    background-image: url("../img/n4.jpg");
}
.main .right li:nth-child(5) .imgbox{
    background-image: url("../img/n5.jpg");
}
.main .right li:nth-child(6) .imgbox{
    background-image: url("../img/n6.jpg");
}
.main .right li:nth-child(7) .imgbox{
    background-image: url("../img/n7.jpg");
}
.main .right li:nth-child(8) .imgbox{
    background-image: url("../img/n2.jpg");
}
.main .right li:nth-child(2) .imgbox{
    background-image: url("../img/n2.jpg");
}
.main .right li .text{
    width: 517px;
    height: 100%;
    float: right;
}
.main .right li .text .title {
    width: 100%;
    height: 16px;


}
.main .right li .text .title a{
    color: #5b5b5b;
    font-size: 16px;
    line-height: 16px;
}
.main .right li:hover .text .title a{
    color: #89c92a;
}

.main .right li .text .time{
    margin-top: 17px;
    font-size: 12px;
    color: #bababa;
    width: 100%;
    height: 12px;
    line-height: 12px;
}
.main .right li .text .word{
    margin-top: 10px;
    font-size: 12px;
    color: #bababa;
    width: 100%;
    height: 42px;
    line-height: 21px;
}
.work{
    width: 100%;
    height: 64px;
    background: #222d3a;
    color: #fff;
    font-size: 12px;
    line-height: 64px;
    text-align: center;
}